
.text-center {
  text-align: center !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

